registry=https://registry.npmjs.org/
# Override corporate Artifactory for this scope (see ~/.npmrc @scope:registry)
@browserbasehq:registry=https://registry.npmjs.org/
always-auth=false
fund=false
audit=false
